<div id="sidebar">
<div class="card sidebar-nav">
  <ul class="list-group list-group-flush">
    <%= link_to root_path, class: 'sidebar-link' do %>
      <li class="list-group-item <%if params[:controller] == "dashboards"%>active<%end%>">
          <i class="fa fa-home sidebar-icon"></i> Dashboard
      </li>
    <%end%>
    <%= link_to programs_path, class: 'sidebar-link' do %>
      <li class="list-group-item <%if params[:controller] == "programs"%>active<%end%>">
          <i class="fa fa-folder sidebar-icon"></i> Programs
      </li>
    <%end%>
  </ul>
</div>
</div>